@use "global" as *;
@use "sass:math";

.top-blog {
	@include mq() {
		position: relative;
		padding-top: rem(92);
	}
}

.top-blog::before {
	@include mq() {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
		height: rem(500);
		background: url(../images/top/top_blog_bg.jpg) no-repeat top / 100% #{rem(500)};
		background: url(../images/top/top_blog_bg.jpg) no-repeat top / cover;
		content: "";
	}
}

.top-blog__inner.inner {
	@include mq() {
		position: relative;
	}
}

.top-blog__illust {
	display: none;
	@include mq() {
		position: absolute;
		top: rem(24);
		left: calc(50% - min(vw-md(354), rem(620)));
		display: block;
		width: min(vw-xl(437), rem(437));
	}
}

.top-blog__heading {
	text-align: center;
}

.top-blog__cards {
	margin-top: rem(24);
	@include mq() {
		margin-top: rem(78);
	}
}

.top-blog__button {
	margin-top: rem(40);
	text-align: center;
	@include mq() {
		margin-top: rem(80);
	}
}
