@use "global" as *;
@use "sass:math";

.top-about-us {
	position: relative;
}

.top-about-us__inner.inner {
	@include mq() {
		position: relative;
	}
}

.top-about-us__heading {
	text-align: center;
}

.top-about-us__summary {
	margin-top: rem(27);
}

.top-about-us__illust {
	display: none;
	@include mq() {
		width: rem(194);
		display: block;
		position: absolute;
		right: calc(50% - min(vw-md(360), rem(638)));
		bottom: rem(-96);
	}
}
