@use "sass:math";

// デザインカンプ
// sp 375
// pc 1440

// インナー幅設定
$inner: 1080px;
// インナー幅  = 1440 - 左右の余白 180 * 2 = 1080

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

$font-noto-sans: 'Noto Sans JP', sans-serif;
$font-gotu: 'Gotu', sans-serif;
$font-lato: 'Lato', sans-serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $font-noto-sans;
}

// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #111;
$white: #fff;
