@use "global" as *;
@use "sass:math";

.top-voice {
	@include mq() {
		background-color: pink; //test
		position: relative;
		background: url(../images/top/top_voice_bg.jpg) no-repeat top / 100% #{rem(500)};
		padding-top: rem(110);
	}
	@include mq(xl) {
		padding-top: 0;
	}
}

.top-voice__inner.inner {
	// padding: 0 rem(20); // test デザイン通りの場合
	@include mq(xl) {
		position: relative;
		padding-top: rem(110);
		// padding: 0 rem(25); // test
	}
}

.top-voice__illust1 {
	display: none;
	@include mq() {
		position: absolute;
		top: 0;
		left: vw-xl(100);
		display: block;
		width: vw-xl(301);
	}
	@include mq(xl) {
		left: rem(-55);
		width: rem(301);
	}
}

.top-voice__illust2 {
	display: none;
	@include mq() {
		position: absolute;
		top: vw-xl(24);
		left: vw-xl(100);
		display: block;
		width: vw-xl(437);
	}
	@include mq(xl) {
		top: rem(-68);
		left: rem(-55);
		width: rem(437);
	}
}

.top-voice__heading {
	text-align: center;
}

.top-voice__cards {
	margin-top: rem(42);
	@include mq() {
		margin-top: rem(28);
	}
}

.top-voice__button {
	margin-top: rem(40);
	text-align: center;
	@include mq() {
		margin-top: rem(80);
	}
}
