@use "global" as *;
@use "sass:math";

.top-voice {
	@include mq() {
		position: relative;
		padding-top: rem(110);
	}
	@include mq(xl) {
		padding-top: 0;
	}
}

.top-voice__inner.inner {
	@include mq(xl) {
		position: relative;
		padding-top: rem(110);
	}
}

.top-voice__illust1 {
	display: none;
	@include mq() {
		position: absolute;
		top: 0;
		left: vw-xl(100);
		display: block;
		width: vw-xl(301);
	}
	@include mq(xl) {
		left: rem(-55);
		width: rem(301);
	}
}

.top-voice__illust2 {
	display: none;
	@include mq() {
		position: absolute;
		bottom: rem(-68);
		left: 50%;
		left: calc(50% + vw-xl(504));
		transform: translateX(-50%);
		display: block;
		width: vw-xl(71);
	}
	@include mq(xl) {
		width: rem(71);
		right: rem(25);
		left: auto;
		transform: none;
	}
}

.top-voice__heading {
	text-align: center;
}

.top-voice__cards {
	margin-top: rem(42);
	@include mq() {
		margin-top: rem(28);
	}
}

.top-voice__button {
	margin-top: rem(40);
	text-align: center;
	@include mq() {
		margin-top: rem(80);
	}
}
