@use "global" as *;
@use "sass:math";

.top-voice {
	@include mq() {
		position: relative;
	}
}

.top-voice__inner.inner {
	@include mq() {
		position: relative;
	}
}

.top-voice__illust1 {
	display: none;
	@include mq() {
		position: absolute;
		top: rem(-116);
		left: calc(50% - min(rem(620), vw-xl(620)));
		display: block;
		width: min(vw-xl(301), rem(301));
	}
}

.top-voice__illust2 {
	display: none;
	@include mq() {
		position: absolute;
		bottom: rem(-68);
		right: calc(50% - min(rem(542), vw-xl(542)));
		display: block;
		width: min(rem(71),vw-xl(71));
	}
}

.top-voice__heading {
	text-align: center;
}

.top-voice__cards {
	margin-top: rem(42);
	@include mq() {
		margin-top: rem(28);
	}
}

.top-voice__button {
	margin-top: rem(40);
	text-align: center;
	@include mq() {
		margin-top: rem(80);
	}
}
