@use "global" as *;
@use "sass:math";

.top-about-us {
	position: relative;
	@include mq() {
		// padding-bottom: rem(60);
	}
}

.top-about-us__inner.inner {
	@include mq() {
		position: relative;
		max-width: calc(#{$inner} + #{rem(98 + 25)} * 2);
		padding: 0 rem( 98 + 25 ) rem(92); /* イラスト分の余白追加 */
		// background-color: orange; // test
	}
}

.top-about-us__heading {
	text-align: center;
}

.top-about-us__summary {
	margin-top: rem(27);
	// background-color: orange; // test
}

.top-about-us__illust {
	display: none;
	@include mq() {
		width: rem(194);
		display: block;
		position: absolute;
		right: rem(25);
		bottom: 0;
	}
}
