@use "global" as *;
@use "sass:math";

.top-blog {
	@include mq() {
		position: relative;
		padding-top: rem(92);
	}
}

.top-blog::before {
	@include mq() {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
		height: rem(500);
		background: url(../images/top/top_blog_bg.jpg) no-repeat top / 100% #{rem(500)};
		background: url(../images/top/top_blog_bg.jpg) no-repeat top / cover;
		content: "";
	}
}

.top-blog__inner.inner {
	// padding: 0 rem(20); // test デザイン通りの場合
	@include mq(xl) {
		position: relative;
		// padding: 0 rem(25); // test
	}
}

.top-blog__illust {
	display: none;
	@include mq() {
		position: absolute;
		top: vw-xl(24);
		left: vw-xl(100);
		display: block;
		width: vw-xl(437);
	}
	@include mq(xl) {
		top: rem(-68);
		left: rem(-55);
		width: rem(437);
	}
}

.top-blog__heading {
	text-align: center;
}

.top-blog__cards {
	margin-top: rem(24);
	@include mq() {
		margin-top: rem(78);
	}
}

.top-blog__button {
	margin-top: rem(40);
	text-align: center;
	@include mq() {
		margin-top: rem(80);
	}
}
