@use 'global' as *;
@use 'sass:math';

.top__top-mv {
	height: 100vh;
	min-height: rem(667);
	@include mq() {
		min-height: rem(768);
	}
}

.top__campaign {
	margin-top: rem(36);
	@include mq() {
		margin-top: rem(110);
	}
}

.top__about-us {
	margin-top: rem(76);
	@include mq() {
		margin-top: rem(130);
	}
}