@use "global" as *;
@use "sass:math";

.about-us-summary {
	position: relative;
}

.about-us-summary__images {
	position: relative;
	width: 100%;
	aspect-ratio: 345 / 212;
	@include mq() {
		position: absolute;
		top: 0;
		bottom: 0;
		aspect-ratio: auto;
	}
}

.about-us-summary__image1 {
	position: absolute;
	right: 0;
	bottom: 0;
	width: percentage(math.div(281, 345));
	@include mq() {
		width: 100%;
		width: percentage(math.div(880, 1080));
		top: rem(80);
	}
}

.about-us-summary__image1 img {
	width: 100%;
	height: auto;
	aspect-ratio: 281 / 186;
	object-fit: cover;
	@include mq() {
		height: 100%;
		aspect-ratio: initial;

	}
	
}

.about-us-summary__image2 {
	position: absolute;
	top: 0;
	left: 0;
	width: percentage(math.div(128, 345));
	@include mq() {
		width: percentage(math.div(399, 1080));

	}

}

.about-us-summary__image2 img {
	width: 100%;
	height: auto;
	aspect-ratio: 128 / 194;
	object-fit: cover;
	@include mq() {
		height: 100%;
		aspect-ratio: initial;

	}

}

.about-us-summary__content {
	margin-top: rem(40);
	
	@include mq() {
		position: relative;
		display: flex;
		align-items: flex-start;
		gap: rem(40);
		padding: vw-xl(200) vw-xl(32) vw-xl(217) vw-xl(200);
	}
	@include mq(xl) {
		padding: rem(200) rem(32) rem(217) rem(200);
	}
}

.about-us-summary__heading {
	color: $greenaccent;
	font-family: $font-gotu;
	font-size: rem(40);
	font-weight: 400;
	line-height: 1;
	@include mq() {
		flex-shrink: 0;
		color: $white;
		line-height: math.div(100, 80);
		font-size: vw-xl(80);
	}
	@include mq(xl) {
		font-size: rem(80);
	}
}

.about-us-summary__body {
	margin-top: rem(16);
	@include mq() {
		margin-top: 0;
	}
}

.about-us-summary__description {
	font-size: rem(16);
	font-weight: 400;
	line-height: math.div(24, 16);
	@include mq() {
		color: $white;
	}
}

.about-us-summary__button {
	margin-top: rem(40);
	text-align: center;
	@include mq() {
	}
}

