@use 'global' as *;
@use 'sass:math';

.blog-cards {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: rem(40);
	@include mq() {
		grid-template-columns: repeat(3, 1fr);
	}
	
}

.blog-cards__card {
	height: 100%
}