@use 'global' as *;
@use 'sass:math';

.category-label {
	display: inline-block;
	padding: rem(8) rem(11);
	color: $greenaccent;
	font-size: rem(12);
	font-weight: 400;
	line-height: 1;
	border: 1px solid $greenaccent;
	@include mq() {
		padding: rem(10) rem(15);
	}
}