@use 'global' as *;
@use 'sass:math';

.illust-fish {
	width: 100%;
	aspect-ratio: 437 / 201;
	// mask: url(../images/common/illust_fish.svg) no-repeat center / contain; // W3C CSS 検証サービスでエラー表示
	mask-image: url(../images/common/illust_fish.svg);
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	background-color: $greenaccent;
}

.illust-fish--white {
	background-color: $white;
}

.illust-fish--reverse {
	transform: scale(-1, 1);
}