@use "global" as *;
@use "sass:math";

.page-top {
	position: fixed;
	bottom: rem(15);
	right: rem(15);
	z-index: 9999;
	display: grid;
	place-content: center;
	width: rem(48);
	aspect-ratio: 1 / 1;
	padding-right: rem(4);
	background-color: rgba($white, 0.7);
	border: 1px solid $greenaccent;
	border-radius: 50%;
	@include mq() {
		bottom: rem(20);
		right: rem(20);	
		width: rem(80);
	}
}

.page-top::after {
	display: block;
	width: rem(6);
	height: rem(30);
	background: url(../images/common/icon_arrow_top_sp.svg) no-repeat center / contain;
	content: "";
	@include mq() {
		background-image: url(../images/common/icon_arrow_top.svg);
		width: rem(8);
		height: rem(42);
	}
}
