@use "global" as *;
@use "sass:math";

.section-heading {
	display: inline-flex;
	display: inline-block;
	// flex-direction: column;
	// align-items: center;
	color: $green;
	font-size: rem(12);
	font-weight: 400;
	text-align: center;
}

.section-heading::before {
	// margin-bottom: rem(-4);
	display: block;
	content: attr(data-english);
	color: $green;
	font-family: $font-gotu;
	font-size: rem(32);
	font-weight: 400;
	@include mq() {
		margin-bottom: rem(-2);
		font-size: rem(40);
	}
}

// .section-heading::before::first-letter {
.section-heading::first-letter {
	color: $greenaccent;
}


/* pc-white */
.section-heading--pc-white {
	@include mq() {
		color: $white;
	}
}

.section-heading--pc-white::before {
	@include mq() {
		color: $white;
	}
}

.section-heading--pc-white::first-letter {
	@include mq() {
		color: $green2;
	}
}


/* large */
.section-heading--large::before {
	font-size: rem(80);
	margin-bottom: rem(-10);
	@include mq() {
		margin-bottom: rem(-26);
		font-size: rem(80);
	}
}
